/* neucha-regular - cyrillic */
@font-face {
  font-weight: 400;
  font-family: Neucha;
  font-style: normal;
  src: url("../fonts/neucha-v17-cyrillic/neucha-v17-cyrillic-regular.eot"); /* IE9 Compat Modes */
  src:
    url("../fonts/neucha-v17-cyrillic/neucha-v17-cyrillic-regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/neucha-v17-cyrillic/neucha-v17-cyrillic-regular.woff2") format("woff2"),
    url("../fonts/neucha-v17-cyrillic/neucha-v17-cyrillic-regular.woff") format("woff"),
    url("../fonts/neucha-v17-cyrillic/neucha-v17-cyrillic-regular.ttf") format("truetype"),
    url("../fonts/neucha-v17-cyrillic/neucha-v17-cyrillic-regular.svg#Neucha")
    format("svg"); /* Legacy iOS */
  font-display: swap;

  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}

/* open-sans-regular - latin_cyrillic */
@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/open-sans-v34-latin_cyrillic/open-sans-v34-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src:
    url("../fonts/open-sans-v34-latin_cyrillic/open-sans-v34-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/open-sans-v34-latin_cyrillic/open-sans-v34-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/open-sans-v34-latin_cyrillic/open-sans-v34-latin_cyrillic-regular.woff") format("woff"),
    url("../fonts/open-sans-v34-latin_cyrillic/open-sans-v34-latin_cyrillic-regular.ttf") format("truetype"),
    url("../fonts/open-sans-v34-latin_cyrillic/open-sans-v34-latin_cyrillic-regular.svg#OpenSans")
    format("svg"); /* Legacy iOS */
  font-display: swap;

  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}

/** CSS RESET  START **/

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

/** CSS RESET  END **/

/** POSITIONING   START **/

.page-structure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-flex-box {
  display: flex;
  justify-content: space-between;
}

.img-position-header {
  position: absolute;
  top: 50px;
  right: -278px;

  height: 525px;
}

.content-center {
  margin-left: auto;
}

.header-text-box-position {
  margin-top: 185px;
}

.text-center {
  text-align: center;
}

.section-postion-under-header {
  margin-top: 27px;
}

.title-postion-box {
  margin-top: 40px;
  margin-bottom: 16px;
}

.video {
  margin-top: 30px;
}

.header-button {
  margin-top: 40px;
}

.detailed-description-position {
  margin-top: 20px;
}

.position-of-links {
  margin-top: 76px;
}

/** POSITIONING   END **/

/** BOX-MODEL   START **/

.position-relative {
  position: relative;
}

.position-absolute-line-video {
  position: absolute;
  top: -100px;
}

.header {
  position: relative;
}

.inline-element {
  display: inline;
}

.h-100 {
  height: 100%;
}

.wrapper {
  position: relative;

  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.wrapper-video {
  position: relative;

  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 16px;
}

.wrapper-nav {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 80px;
}

.flex-item-nav {
  max-width: 350px;
  margin-bottom: 20px;
  padding: 24px;
}

.flex-item-nav:first-child {
  padding: 0;
}

.flex-item {
  flex: 1;
  max-width: 540px;
}

.button {
  display: inline-block;
  padding: 12px  24px;
}

.background-line {
  z-index: -100;

  width: 100vw;
  height: 100px;
}

.flex-container-section {
  display: flex;
  justify-content: space-between;
}

.flex-container-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description {
  max-width: 502px;
}

.detailed-description-header-position {
  margin-top: 92.8px;
}

.description-detailed-header-box {
  padding: 5px 10px;
}

.picture-position {
  float: right;
}

li {
  max-width: 100%;
}

.margin-zero {
  margin: 0;
}

.padding-zero {
  padding: 0;
}

.footer-box {
  padding: 38px 55px 40px;
}

.footer-button {
  float: right;
  width: 70px;
  height: 100%;
}

.flex-grow-0 {
  flex-grow: 0;
}

.flex-grow-1 {
  flex-grow: 1;
}

.form-box-position {
  padding: 17px 0;

  line-height: 1;
}

/** BOX-MODEL   END **/

/** FONT   START **/
.h-text {
  font-family: Neucha, sans-serif;
  line-height: 1.2;
}

.main-font {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}

h1 {
  font-size: 72px;
}

h2 {
  color: #fe8a02;
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.first-item-nav-text {
  font-size: 52px;
  line-height: 1.2em;
}

.nav-numbers {
  font-size: 64px;
  line-height: 1;
}

.description-first-line {
  font-size: 24px;
}

.description-text {
  font-size: 34px;
}

.description-detailed-header-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
}

.footer-text {
  font-size: 18px;
}

.background-color-white {
  background-color: #e3e3e3;
}

.email-text {
  font-size: 18px;
}

.terms-service-text {
  font-size: 12px;
}

.flex-container-send-form {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.send-form {
  padding: 0 15px;
}

/** FONT   END **/

/** VIEW  START **/
.text-color-black {
  color: #2a2626;
}

.text-color-orange {
  color: #fe8a02;
}

.text-color-white {
  color: #fff;
}

.button-color-orange {
  color: #fff;

  background-color: #fe8a02;
  border: 0;
}

.button-text {
  font-weight: bold;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
  text-decoration: none;
}

.background-color-dark {
  background-color: #42413c;
}

.bacground-color-whhite {
  background-color: #f5f4f0;
}

.shadow-effect {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.text-color-green {
  color: #908d8b;
}

.background-color-brown {
  background: #b09a81;
}

.text-color-brown {
  color: #b09a81;
}

.text-color-light-white {
  color: #d7ccc0;
}

.underline {
  text-decoration: underline;
}

.footer-link-text-color {
  color: #007dc1;
}

/** VIEW  END **/
.header::before {
  position: absolute;

  width: 100vw;
  height: 100%;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.ikea-effect::before {
  position: absolute;

  width: 100vw;
  height: 100%;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.premature-optimization::before {
  position: absolute;

  width: 100vw;
  height: 100%;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.distortion-of-novelty::before {
  position: absolute;

  width: 100vw;
  height: 100%;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.hyperbolic-depreciation::before {
  position: absolute;

  width: 100vw;
  height: 100%;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.errors-in-planning::before {
  position: absolute;

  width: 100vw;
  height: 100%;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.footer-button::before {
  display: block;
  margin: 12.5px 22.5px;

  content: url("../images/send.svg");
}

.text-area {
  padding: 0;
  overflow: hidden;

  font-size: 13.1px;

  border: none;

  resize: none;
}

::placeholder {
  margin: 0;
  padding: 0;

  background-color: #e3e3e3;
  border: none;
}

input:focus::placeholder {
  margin: 0;
  padding: 0;

  background-color: #e3e3e3;
  border: none;
}

.link-wrapper {
  display: block;
  text-decoration: none;
}
